@model Tms.WebUI.Models.AuthModel

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h2>Hello</h2>

    @Html.LabelFor(x => x.Email)
    @Html.EditorFor(x => x.Email)

    @Html.LabelFor(x => x.PassHash)
    @Html.EditorFor(x => x.PassHash, new { type="password"})

    <input type="submit" value="login"/>
}